<ion-view view-title="Expenses">
    <ion-nav-buttons side="secondary">
      <button class="button  button-icon icon ion-plus" ng-click="openModal()"></button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar  item-icon-right" ng-repeat="expense in expenses" type="item-text-wrap" href="#/tab/expenses/{{expense.objectId}}">
        <img ng-src="{{expense.face}}">
        <h2>{{expense.note}}</h2>
				    <span class="item-note">{{expense.value}} €</span>
        <p>{{expense.note}}</p>

  
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-positive" ng-click="edit(expense)">
          Edit
        </ion-option-button>
		<ion-option-button class="button-assertive" ng-click="remove(expense)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
