<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="row">
        <div class="col col-25">
          <a href="#/tab/Categories/1" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
        </div>

        <div class="col col-25 col-offset-10">
			<a href="" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
		</div>
        <div class="col col-25 col-offset-10">
			<a href="" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <a href="" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
        </div>

        <div class="col col-25 col-offset-10">
			<a href="" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
		</div>
        <div class="col col-25 col-offset-10">
			<a href="" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <a href="" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
        </div>

        <div class="col col-25 col-offset-10">
			<a href="" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
		</div>
        <div class="col col-25 col-offset-10">
			<a href="" class="button button-icon">Spesa	<i class="icon ion-ionic my-icon"></i>13$/25$</a>
        </div>
      </div>
  </ion-content>
</ion-view>
