<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="row">
	  <div class="col-25">
		<button class="button button-block button-positive">Button</button>
	  </div>
	  <div class="col-25 col-offset-10">
		<button class="button button-block">Button
		
		</button>
	  </div>
	  	  <div class="col-25 col-offset-10">
		<button class="button button-block">Button</button>
	  </div>
	  	  <div class="col-25 col-offset-10">
		<button class="button button-block">Button</button>
	  </div>
	</div>
  </ion-content>
</ion-view>
